
<!-- <p>homelist works!</p> -->

  <div #box>
    <h5>Username is <span class="text-success">{{userName}}</span></h5>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button (click)="changechildproperty()"class="btn-success">change child property</button>&nbsp;
      <button (click)="callchildmethod()"class="btn-success">call child method</button>&nbsp;<br>

    </div>
  </div>



<app-editprofile></app-editprofile>
<!-- <app-employee-list [productselected]="productselected"></app-employee-list> -->
<h4>Fetch Data from an API using the HttpClient in Angular.....</h4>
<p>{{products|json}}</p>
<div>
  <img [src]="myimg" alt="image with design">
</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <div class="col-md-6 mb-4">
  <form class="form-inline md-form form-sm">
    <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
      mdbInput>
  </form>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->






















<!-- <table class="table">
  <thead>
    <tr>
       <th>id</th>
       <th>name</th>
       <th>username</th>
        <th>email</th>
         <th>address</th>
      </tr>
    </thead>
 <tbody>
 <tr  *ngFor="let  data of elementdata"><td>{{data.id}}</td>

 <td>{{data.name}}</td>
 <td>{{data.username}}</td>
 <td>{{data.email}}</td>
 <td>{{data.address}}</td>
  </tr>
       </tbody>
</table> -->
