<p>edittable works!</p>
<h1>WELCOME TO Edit CUSTOMER FORM</h1>
      <br>
      <br>
<form [formGroup]="CustomerForm">
  <div class="form-row mb-4">
  <div class="col">
    <label for="item">Item </label><br>
      <input  type="text" formControlName="item" id="item" class="form-control" placeholder="Enter the item"><br>
  </div>
  <div class="col">
    <label for="amount">Amount </label><br>
      <input type="text" formControlName="amount" id="amount" class="form-control" placeholder="Enter the amount"><br>
  </div>
<div class="col">
  <label for="category">Category</label><br>
<input  type="text" formControlName="category" id="category" class="form-control mb-4" placeholder="Enter the category">
</div>
<div class="col">
  <label for="location">Location</label><br>
<input  type="text" formControlName="location" id="location" class="form-control mb-4" placeholder="Enter the location">
</div>
<div class="col">
  <label for="spendOn">Spent On</label><br>
<input  type="text" formControlName="spendOn" id="spendOn" class="form-control mb-4" placeholder="Enter the spendOn TIME">
</div>
<div class="button">
  <button type="submit" class="btn btn-primary" (click)="updateCustomer()">UPDATE</button>&nbsp;

  <button type="button" class="btn btn-primary" (click)="goBack()">GO BACK</button>
</div>

</div>
</form>

